.rangepicker__day-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  align-items: self-start;
  border-bottom: 1px solid var(--grey);

  & > * {
    font-weight: 400;
    font-size: .9em;
    line-height: 20px;
    color: var(--grey);
    text-align: center;

    &:nth-last-child(-n + 2) {
      font-weight: bold;
    }
  }
}
