.rangepicker__cell {
	cursor: pointer;
}

.rangepicker__cell {
	position: relative;
	border: 0;
	width: 36px;
	height: 36px;
	background-color: transparent;
	color: var(--dark-blue);
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}

.rangepicker__cell:active,
.rangepicker__cell.rangepicker__selected,
.rangepicker__cell.rangepicker__selected-from,
.rangepicker__cell.rangepicker__selected-to {
	background-color: var(--blue);
	color: var(--white);
}

.rangepicker__cell:hover,
.rangepicker__cell:focus {
	outline: none;
	background-color: var(--light-blue);
	color: var(--dark-blue);
	transition: 0.2s all;
}

.rangepicker__cell.rangepicker__selected:hover,
.rangepicker__cell.rangepicker__selected-from:hover,
.rangepicker__cell.rangepicker__selected-to:hover,
.rangepicker__cell.rangepicker__selected:focus,
.rangepicker__cell.rangepicker__selected-from:focus,
.rangepicker__cell.rangepicker__selected-to:focus {
	background-color: var(--middle-blue);
	color: var(--dark-blue);
}

.rangepicker__cell.rangepicker__selected-between {
	background-color: var(--light-blue);
}
