.rangepicker__cell {
  cursor: pointer;
  position: relative;
  border: 0;
  background-color: transparent;
  color: var(--dark-blue);
  font-size: 1em;
  line-height: 20px;
  outline: none;

  &:hover {
    background-color: var(--grey) !important;
    color: var(--white);
    transition: var(--transition);
  }

  &:active,
  &.rangepicker__selected,
  &.rangepicker__selected-from,
  &.rangepicker__selected-to {
    background-color: var(--blue);
    color: var(--white);
  }

  &.rangepicker__selected:hover,
  &.rangepicker__selected-from:hover,
  &.rangepicker__selected-to:hover,
  &.rangepicker__selected:focus,
  &.rangepicker__selected-from:focus,
  &.rangepicker__selected-to:focus {
    background-color: var(--middle-blue);
    color: var(--dark-blue);
  }

  &.rangepicker__selected-between {
    background-color: var(--light-blue);
  }

  &.rangepicker__current {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 100%;
  }

  &.rangepicker__free {
    background-color: var(--grey);
    color: var(--white);
  }
}
