.rangepicker__calendar {
  display: grid;
  grid-template-rows: 30px auto min-content;
}

.rangepicker__month-indicator {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rangepicker__date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}
