.rangepicker__calendar {
	padding: 10px;
	display: grid;
}

.rangepicker__month-indicator {
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	padding: 0 15px;
	color: var(--dark-blue);
}

.rangepicker__day-of-week {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	margin-top: 28px;
}

.rangepicker__day-of-week > * {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: var(--grey);
	text-align: center;
}

.rangepicker__date-grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	margin-top: 16px;
}
