.rangepicker__calendar {
  display: grid;
  grid-template-rows: 30px 40px min-content;
}

.rangepicker__month-indicator {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rangepicker__day-of-week {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  grid-template-rows: 40px;
  justify-items: center;
  align-items: center;

  & > * {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--grey);
    text-align: center;
    height: fit-content;
  }
}

.rangepicker__date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}
