.rangepicker {
	box-shadow: var(--box-shadow);
	position: fixed;
}

.rangepicker:hover {
	box-shadow: var(--box-shadow-hover);
}

.rangepicker .rangepicker__selector {
	background-color: var(--white);
	border-radius: 6px;
	box-shadow: 0 4px 29px rgba(0, 0, 0, 0.09);
}

.rangepicker .rangepicker__selector .rangepicker__selector-control-left,
.rangepicker .rangepicker__selector .rangepicker__selector-control-right {
	position: absolute;
	top: 32px;
	width: 15px;
	height: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	transition: 0.3s all;
	overflow: hidden;
}

.rangepicker .rangepicker__selector .rangepicker__selector-control-left::after,
.rangepicker
	.rangepicker__selector
	.rangepicker__selector-control-right::after {
	transition: 0.3s all;
	content: "";
	background-color: var(--grey);
	width: 14px;
	height: 14px;
	transform: translateX(9px) rotate(45deg);
}

.rangepicker
	.rangepicker__selector
	.rangepicker__selector-control-left:hover::after,
.rangepicker
	.rangepicker__selector
	.rangepicker__selector-control-right:hover::after {
	background-color: var(--dark-blue);
}

.rangepicker .rangepicker__selector .rangepicker__selector-control-left {
	left: 26px;
}

.rangepicker .rangepicker__selector .rangepicker__selector-control-right {
	right: 26px;
	transform: rotate(180deg);
}

.rangepicker .rangepicker__selector .rangepicker_calendar {
	flex-direction: row;
	display: flex;
}

.rangepicker .rangepicker__selector .rangepicker_year {
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	padding: 10px;
	color: var(--dark-blue);
}
