.cell {
  cursor: pointer;
  position: relative;
  border: 0;
  background-color: transparent;
  color: var(--dark-blue);
  font-size: 1em;
  line-height: 20px;
  outline: none;

  &:hover {
    background-color: var(--grey) !important;
    color: var(--white);
    transition: var(--transition);
  }

  &:active,
  &.start,
  &.end {
    background-color: var(--blue);
    color: var(--white);
  }

  &.start:hover,
  &.end:hover,
  &.start:focus,
  &.end:focus {
    background-color: var(--middle-blue);
    color: var(--dark-blue);
  }

  &.between {
    background-color: var(--light-blue);
  }

  &.current {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 100%;
  }

  &.free {
    background-color: var(--grey);
    color: var(--white);
  }
}
