.control_left,
.control_right {
  position: absolute;
  top: 13px;
  width: 10px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s all;
  overflow: hidden;

  &::after {
    transition: 0.3s all;
    content: "";
    background-color: var(--grey);
    width: 14px;
    height: 14px;
    transform: translateX(9px) rotate(45deg);
  }

  &:hover::after {
    background-color: var(--dark-blue);
  }
}

.control_left {
  left: 15px;
}

.control_right {
  right: 15px;
  transform: rotate(180deg);
}
