.bottom_bar {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: flex-end;
  color: var(--grey);
  border-top: 1px solid var(--grey);
  padding: 4px 0px 0px 0px;
  line-height: 1.5;

  .title {
    margin-right: auto;
  }

  .button {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
